html, body {
    margin: 0;
    padding: 0;
}

.sharer input[type=search] {
    padding: .5rem;
    display: block;
    width: 100%;
}

.sharer .song-list>div {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
}

.sharer .song-list>div:hover {
    background: #efefef;
}

.sharer .song-list>div h2 {
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

.sharer .song-list>div h2 small {
    color: #ddd;
    font-size: 10pt;
}

div.blind {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.inScore {
    width: 100%;
    height: 10em;
    display: block;
    background: rgb(223, 219, 211);
}
